

.imagem-fundo {
  background-image: url("/assets/img/bacuru.jpeg");
  height: 100vh;
  width: 100vw;
  position: fixed;
  filter: blur(8px);
}





.discografia {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 20px;
  height: 100vh;
}

.texto-discografia {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.disco {
  width: 100%;
  background-color: rgb(248 243 243 / 80%);
  padding: 8px;
  border-radius: 10px;
}

.topo-disco {
  display: flex;
}

.imagem-disco {
  width: 140px;
  height: 140px;
}

.imagem-disco img {
  height: 100%;
  border-radius: 10px;
}

.info-disco {
  margin-left: 8px;
}

.titulo-disco {
  font-size: 30px;
  font-weight: bold;
  color: #068;
}

.ano-disco {
  font-size: 20px;
  color: #757575;
}

ol {
  counter-reset: item;
  list-style: none;
  padding-left: 0;
}

ol li {
  counter-increment: item;
  margin: 5px 0;
}

ol li a {
  text-decoration: none;
  color: #068;
  font-weight: bold;
}

ol li::before {
  content: counter(item, decimal-leading-zero) ". ";
  color: #757575;
}
